body {
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* CARGAR DEBAJO DEL HEADER*/
.main-content {
    margin-top: 68px;
}

/* Encabezado y navegación */
.header-zircon {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 85px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
}

.nav-zircon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.nav-link-zircon {
    color: white;
    text-decoration: none;
    align-items: center;
    flex: 1;
}

/* Logo e imagen */
#logoZirconBiker {
    height: 75px;
    margin-right: 10px;
}

.logo-zircon {
    color: gold;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Menú de navegación */
.nav-menu-zircon {
    display: flex;
    list-style: none;
    margin-left: auto;
    line-height: 85px;
    cursor: pointer;
}

.nav-menu-item-zircon {
    font-size: 16px;
    margin-left: 50px;
    width: max-content;
}

.nav-menu-link-zircon {
    transition: color 0.3s linear 0.05s;
    padding: 10px 15px;
    border-radius: 5px 20px;
}

.nav-menu-link-zircon:hover {
    background-color: gold;
    color: black;
}

#financiamiento {
    border: solid 3px gold;
    border-radius: 10px;
}

/* Iconos de navegación */
.nav-icons-zircon {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-icons-zircon a {
    transition: color 0.3s linear 0.05s;
    color: white;
    font-size: 28px;
    margin-left: 40px;
}

.nav-icons-zircon a:hover {
    color: gold;
}

/* Botón de menú hamburguesa */
.nav-toggle-zircon {
    color: white;
    background: none;
    border: none;
    font-size: 35px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    margin-left: auto;
    display: none;
    margin-left: 20px;
}

/* Cambiar barra de navegacion a negro */
::-webkit-scrollbar {
    background-color: #1e1f22;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
    background-color: #1e1f22;
}

/* Diseño responsive */
/*------------------------------------------------pantallas medianas------------------------------------*/
@media (max-width: 1300px) {


    .nav-menu-zircon {
        flex-direction: column;
        align-items: center;
        background-color: #2c3e50;
        position: fixed;
        top: 69px;
        width: 100%;
        padding: 0;
        height: calc(100% - 75px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.4s;
    }

    .nav-menu_visible {
        left: 0;
    }

    #financiamiento {
        border: none;
    }

    .nav-menu-link-zircon:hover,
    .nav-menu-link_active {
        background-color: transparent;
        color: gold;
    }

    .toggle-custom {
        display: block;
    }
}

/*------------------------------------------------pantallas pequeñas------------------------------------*/
@media (max-width: 700px) {

    /* CARGAR DEBAJO DEL HEADER*/
    .main-content {
        margin-top: 0px;
    }

    .header-zircon {
        height: 75px;
    }

    .nav-icons-zircon {
        display: none;
    }

    .nav-toggle-zircon {
        display: block;
    }

    .main-content {
        padding-top: 75px;
    }

    #logoZirconBiker {
        height: 50px;
        margin-right: 10px;
    }

    .logo-zircon {
        color: gold;
        font-size: 18px;
        font-weight: bold;
    }

    .nav-zircon {
        justify-content: flex-start;
    }

    .nav-menu-zircon {
        flex-direction: column;
        align-items: center;
        background-color: #2c3e50;
        position: fixed;
        top: 59px;
        width: 100%;
        padding: 0;
        height: calc(100% - 75px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.4s;
    }

    .nav-menu_visible {
        left: 0;
    }

    #financiamiento {
        border: none;
    }

    .nav-menu-link-zircon:hover,
    .nav-menu-link_active {
        background-color: transparent;
        color: gold;
    }

    .nav-menu-item-zircon {
        font-size: 12px;
        margin-left: 10px;
        width: max-content;
        line-height: 55px;
    }
}